{% extends 'core/base.html' %}
{% load static %}
{% block title %}Páginas{% endblock %}
{% block content %}
{% include 'pages/includes/pages_menu.html'%}
<script>


function enviar(){
  document.getElementById('articulos').addEventListener('input', function () {
   console.log('changed'); 
});
}
</script>
<main role="main">
  <div class="container mb-4">
    <form action="" method="get" id="ordenar" >{% csrf_token %}
      <select name="orden">
        <option>Más recientes</option>
        <option>Más antiguos</option>
      </select>
      <button type="submit">enviar</button>
    </form>
  {% if antiguo in request.GET %}
    {% for page in page_list|dictsort:"id" %}
      <div class="row mt-3">
        <div class="col-md-9 mx-auto bg">
          <h2 class="mb-4 pl-2 pb-1 bg-dark text-light">{{page.title}}</h2>
          <div class="mb-2 bg-light">
            <p class="lead">{{page.content|striptags|safe|truncatechars:"200"}}</p>
            <p><a href="{% url 'pages:page' page.id page.title|slugify %}">Leer más</a>
              
              {% if request.user.is_staff %}
                | <a href="{% url 'pages:update' page.id %}">Editar</a>
                | <a href="{% url 'pages:delete' page.id %}">Borrar</a>
              {% endif %}
              
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
    {% for page in page_list|dictsort:"id" reversed %}
      <div class="row mt-3">
        <div class="col-md-9 mx-auto bg">
          <h2 class="mb-4 pl-2 pb-1 bg-dark text-light">{{page.title}}</h2>
          <div class="mb-2 bg-light">
            <p class="lead">{{page.content|striptags|safe|truncatechars:"200"}}</p>
            <p><a href="{% url 'pages:page' page.id page.title|slugify %}">Leer más</a>
              
              {% if request.user.is_staff %}
                | <a href="{% url 'pages:update' page.id %}">Editar</a>
                | <a href="{% url 'pages:delete' page.id %}">Borrar</a>
              {% endif %}
              
            </p>
          </div>
        </div>
      </div>
    {% endfor %}

  {% endif %}
    
      
  </div>
</main>
{% endblock %}
